@import url('https://fonts.googleapis.com/css?family=Michroma&display=swap');

body {
  font-family: Michroma, serif;
  background: linear-gradient(90deg, #08f3ff 0%, #000000 100%);
}
.bg-info-subtle {
  background-color: #000000 !important;
}

.nav-link {
  color: rgb(189, 189, 189);
}

.navbar-nav .nav-link.active {
  color: rgb(255, 255, 255);
}

.navbar-brand img {
  width: 40px;
}

.navbar-toggler {
  background-color: rgb(189, 189, 189);
}

.sidebar {
  color: rgb(255, 255, 255);
  background: linear-gradient(
    60deg,
    hsla(183, 95%, 7%, 0.86) 0%,
    hsl(183, 100%, 23%) 100%
  );
}

.card {
  color: rgb(255, 255, 255);
  background: linear-gradient(
    60deg,
    hsla(183, 95%, 7%, 0.86) 0%,
    hsl(183, 100%, 23%) 100%
  );
}

.slideText,
.footerText,
.helpText {
  color: rgb(255, 255, 255);
  margin: auto auto;
}

@media (max-width: 755px) {
  .carousel-indicators {
    display: none;
  }
}

footer,
.btn-primary {
  background: linear-gradient(
    60deg,
    hsla(183, 95%, 7%, 0.86) 0%,
    hsl(183, 100%, 23%) 100%
  );
}

.mediaLinks {
  display: flex;
  justify-content: center;
  align-items: center;
}

.callAn {
  animation: myAnim 2s ease 0s infinite normal forwards;
}
@keyframes myAnim {
  0%,
  100% {
    transform: translateX(0%);
    transform-origin: 50% 50%;
  }

  15% {
    transform: translateX(-30px) rotate(-6deg);
  }

  30% {
    transform: translateX(15px) rotate(6deg);
  }

  45% {
    transform: translateX(-15px) rotate(-3.6deg);
  }

  60% {
    transform: translateX(9px) rotate(2.4deg);
  }

  75% {
    transform: translateX(-6px) rotate(-1.2deg);
  }
}
